* {
    padding: 0;
    margin: 0;
}

body{
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	overflow-x: hidden;
}

/* header*/
header{
	background-color: rgb(255, 247, 247);
	height: 10vh;
}
header img{
	position: relative;
	left: 10vh;
	top: 2vh;
}
/*main*/
main{
	height: 80vh;
	display:flex;
}
main button{
	height: 5vh;
	width: 9vw;
	border-radius: 2vh;
}
section{
	width: 70vw;
}

section input{
	text-align: center;
    width: inherit;
    height: 40vh;
	border: 0;
	font-size: medium;
	color:blue;
}

section p{
	padding: 10vh 30vh;
	font-size: large;
	color:darkblue;
}
.botones{
	padding: 0vh 30vh;
}

section button:first-child {
}
section button:nth-child(2){
	margin: 0vh 10vh
}

aside img{
	height: auto;
	width: 20vw;
}

aside{
	width: 30vw;
}
aside h3 , aside p{
	text-align: center;
	padding: 2vh;
	height: 2vh;
}

aside textarea{
	resize: none;
	width: 30vw;
    border-color: transparent;
    background-color: rgba(255, 232, 217, 0.76);
    height: 60vh;
    border-radius: 4vh;
    text-align: center;
	color: blue;
	font-size: large;
}
aside button {
    height: 5vh;
    width: 9vw;
    border-radius: 2vh;
}


/*footer*/
footer{
	height: 10vh;
	background-color: rgb(255, 255, 255);
}
footer p{
	text-align: start;
	padding: 4vh;
	color: rgb(233, 171, 171);
}
